# Developers:
# First name: Nir, Dor, Yamit
# Last name: Katz, Mizrahi, Segev
# ID:   206361883 , 315429175 , 206776486

node_modules

# Environment variables
config.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea